<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>天空实验室</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <link href="flat-ui/docs/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="flat-ui/img/favicon.ico">

  </head>
  <body>
    <style>
      body {
        min-height: 100px;
        padding-top: 70px;
      }
    </style>

    <div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-inverse  navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">天空实验室(Skylab)</a>
        </div>

        <!--<div class="navbar-collapse collapse">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
      </div>
    </div>


      <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <img src="flat-ui/img/login/icon.png" alt="Welcome to Spirit, MER-A" />
            <h4>Welcome to <small>Skylab</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="请输入用户名" id="username" />
              <label class="login-field-icon fui-user" for="username"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="请输入密码" id="password" />
              <label class="login-field-icon fui-lock" for="password"></label>
            </div>

            <a class="btn btn-primary btn-lg btn-block" href="#" onclick="login()" id="loginButton">登录</a>
            <a class="login-link" href="#">忘记密码了么?</a>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="message_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span id="message">asdfsdfsdfsdfsdf</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            <h3 class="footer-title">欢迎光临</h3>
            <p>您正在登录天空实验室国际空间站...<br/>
              如果您需要任何帮助，欢迎与我取得联系。<br/>
              Mail to: <a href="#" target="_blank">gaoxuezhan@gmail.com</a>
            </p>
<!--
            <p class="pvl">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;amp;HTML User Interface Kit" data-via="designmodo">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&repo=Flat-UI&type=watch&count=true" height="20" width="107" frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowTransparency="true"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&repo=Flat-UI&type=fork&count=true" height="20" width="107" frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowTransparency="true"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&type=follow&count=true" height="20" width="195" frameborder="0" scrolling="0" style="width:195px; height: 20px;" allowTransparency="true"></iframe>
            </p>
-->
            <!--<a class="footer-brand" href="http://designmodo.com" target="_blank">-->
              <!--<img src="flat-ui/docs/assets/img/footer/logo.png" alt="Designmodo.com" />-->
            <!--</a>-->
          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">天空实验室(Skylab)</h3>
              <ul>
                <li>沾沾洋洋的家</li>
                <li>勇气号(Spirit,Mer-A)</li>
                <li>信息监控</li>
                <li>电子仪器管理</li>
                <li>温度湿度分析</li>
              </ul>
              Go to: <a href="http://www.gaoxz.com" target="_blank">www.gaoxz.com</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="flat-ui/dist/js/vendor/jquery.min.js"></script>
    <script src="flat-ui/dist/js/vendor/video.js"></script>
    <script src="flat-ui/dist/js/flat-ui.min.js"></script>
    <script src="flat-ui/docs/assets/js/application.js"></script>

    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <script data-th-src="@{js/app/login_test.js?v=2}"></script>
  </body>
</html>
