<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

	<!-- 引入 ECharts 文件 -->
	<script src="js/echarts.common.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf Example 3</h1>
			<h2>
				<span th:text="'Message: ' + ${message}"></span>
			</h2>
		</div>

	</div>
	<!-- /.container -->

	<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
	<div id="main" style="width: 80%;height:800px;"></div>


	<script th:inline="javascript">
        var username = [[${vo}]];
        // alert(username);
	</script>

	<script type="text/javascript">
        $(document).ready(function(){
            /**  -------------首页地图初始化 start----- */
            $.ajax({
                url : "/history",
                type : "GET",
                dataType : "JSON",
                data: {},
                success : function(data) {//这里得到后台Java响应的json数据,即resultJsonMapData
                    var myChart = echarts.init(document.getElementById('main'));
                    console.log(data);
                    console.log(typeof(data));

                    // var data1 =  $.parseJSON(data); //此处代码很关键，后台返回的JSON字符串数据ECharts是无法直接解析的，必须
                    //解析一下，使他变成JSON对象（JS对象），ECharts才能操作该数据。
                    option = {
                        title: {
                            text: '动态数据 + 时间坐标轴'
                        },
                        tooltip: {
                            trigger: 'axis',
                            formatter: function (params) {
                                params = params[0];
                                var date = new Date(params.name);
                                return params.value[0] + ' : ' + params.value[1];
                            },
                            axisPointer: {
                                animation: false
                            }
                        },
                        xAxis: {
                            type: 'time',
                            splitLine: {
                                show: false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [0, '100%'],
                            splitLine: {
                                show: false
                            }
                        },
                        series: [{
                            name: '模拟数据',
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                            data: data,
                            smooth: false
                        }]
                    };

                    myChart.setOption(option);

                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    console.log('服务器开了点小差，请稍后刷新页面!', {icon: 0});
                    myChart.hideLoading();
                }
            });

            /**  -------------首页地图初始化 end ----- */

        });
	</script>


</body>
</html>